section.form-section
  .container
    .title
      h2.title__header Get Your Free Facebook Analysis Now
      .title__text Enter your details below
    
    .btn-down: a.arrow-down: i.fas.fa-angle-down

    .form-container.is-hidden
      form(method="POST" action="#").form
        button(type="button").form__close-button x
        .form__text.
          Sit down with our experts to receive a free customized marketing plan for your
          business + Learn How To Use Google and Facebook to get 5000% ROI or more
        
        .form__fields
          input.form__input(type="text" placeholder="Your Name" required)
          input.form__input(type="number" placeholder="Contact Number" required)
          input.form__input(type="text" placeholder="Company Name" required)
        
        button(type="submit").button.button--red.button--text-uppercase Submit now