section.ourWork
  .container
    .title.title--with-bottom-line
      h2.title__header Our Work
      .title__text We are added our featured works below

    ul.ourWork__list
      li.ourWork__item.ourWork__item--name
        .ourWork__name Project Name
        .ourWork__description Facebook marketing
      li.ourWork__item: img.ourWork__picture(src="images/work-1.jpg" alt="picture")

      li.ourWork__item.ourWork__item--name
        .ourWork__name Project Name
        .ourWork__description Landing page
      li.ourWork__item: img.ourWork__picture(src="images/work-2.jpg" alt="picture")

      li.ourWork__item: img.ourWork__picture(src="images/work-3.jpg" alt="picture")
      li.ourWork__item.ourWork__item--name
        .ourWork__name Project Name
        .ourWork__description Landing page

      li.ourWork__item: img.ourWork__picture(src="images/work-4.jpg" alt="picture")
      li.ourWork__item.ourWork__item--name
        .ourWork__name Project Name
        .ourWork__description Facebook marketing
