section.ourWork(id="ourWork")
  .container
    .title.title--with-bottom-line
      h2.title__header Our Work
      .title__text We are added our featured works below

    .ourWork__list
      .ourWork__container
        .ourWork__item.ourWork__item--name
          .ourWork__name Project Name
          .ourWork__description Facebook marketing
        .ourWork__item: img.ourWork__picture(src="images/work-1.jpg" alt="picture")

      .ourWork__container
        .ourWork__item.ourWork__item--name
          .ourWork__name Project Name
          .ourWork__description Landing page
        .ourWork__item: img.ourWork__picture(src="images/work-2.jpg" alt="picture")

      .ourWork__container.ourWork__container--reverse
        .ourWork__item.ourWork__item--name
          .ourWork__name Project Name
          .ourWork__description Landing page
        .ourWork__item: img.ourWork__picture(src="images/work-3.jpg" alt="picture")

      .ourWork__container.ourWork__container--reverse
        .ourWork__item.ourWork__item--name
          .ourWork__name Project Name
          .ourWork__description Facebook marketing
        .ourWork__item: img.ourWork__picture(src="images/work-4.jpg" alt="picture")